<h2><%= @mechanic.name %></h2>
<h4><%= @mechanic.years_of_experience %> years of experience</h4>
<h4>Current rides they're working on:</h4>
<ul class='mechanic-rides'>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>

<%= form_tag "/mechanics/#{@mechanic.id}" do %>
  <label for="rides">Add a ride to workload:</label>
  <br>
  <select name="rides">
    <% @rides.each do |ride| %>
      <% if !@mechanic.rides.include?(ride) %>
        <option value=<%= "#{ride.name}" %>><%= ride.name %></option>
      <% else %>
      <% end %>
    <% end %>
  </select>
  <br>
  <%= submit_tag 'Add Ride' %>
<% end %>
